@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>Maersk Line Container Management System</center>
    <img src="https://media.licdn.com/media/p/3/000/1ae/246/122f3a2.png">

    <p class="lead">Maersk Line is the world’s largest container shipping company, known for reliable, flexible and eco-efficient services.  We are part of the Maersk Group, headquartered in Copenhagen, Denmark, and we operate 610 container vessels providing ocean transportation in all parts of the world.

Not only do we power some of the world’s largest ships – we also propel the growth ambitions of businesses and individuals all over our planet.

Every day our 7,000 seafarers and 25,000 land-based employees at 374 offices share their expertise with customers around the world to optimize their supply chains, maximize their distribution networks and most of all realize their business potential. We are devoted to creating simple and reliable solutions for our customers, continuously lifting industry standards and enabling global trade in the most sustainable manner possible.

What we do is more than shipping. We deliver promises. Promises from customers and businesses all over the world.</p>

</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>